{% extends 'cliente/base.html' %}
{% load static %}

{% block cuerpo %}
<div class="px-4 py-5 my-5 text-center">
    <div class="align-items-center g-lg-5 py-5">
        <div class="text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">¡Vamos a agendar!</h1>
            <p class="col-lg-10 fs-4">Rellena el siguiente formulario para agendar una hora para que lavemos tu nae'.</p>
        </div>
    </div>
</div>
<div>
    <form action="" method="post"></form>
</div>
{% endblock %}