{% extends 'administrador/base.html' %}
{% load static %}

{% block cuerpo %}
<div class="d-grid gap-2 col-3 mx-auto">
    <button onClick="javascript:horaCrear();" class="btn btn-primary" type="button">Crear nueva hora</button>
</div>
{% if horas %}
<table id="horas-tabla" class="table table-striped">
    <thead>
        <tr>
            <th>Patente</th>
            <th>Dueño</th>
            <th>Estado</th>
            <th>Creación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for hora in horas %}
        <tr>
            <td>{{ hora.patente }}</td>
            <td>{{ hora.dueño }}</td>
            <td>[{{ hora.estado }}] {{ hora.get_estado_display }}</td>
            <td>{{ hora.creado|date:"H:i" }}</td>
            <td>
                <a
                    onClick="javascript:horaModificar('{{ hora.patente }}');"
                    href="#"
                    class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">Modificar</a>
                <br>
                <a onClick="javascript:horaEliminar('{{ hora.patente }}');"
                    href="#"
                    class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">Cancelar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function horaCrear() {
        Swal.fire(
            {
                title: "Nueva hora",
                html: `
                    <input id="dueño" class="swal2-input" placeholder="Dueño">
                    <input id="patente" class="swal2-input" placeholder="Patente">
                    <select id="estado" class="swal2-select" placeholder="Estado">
                        <option value="" disabled="">Seleccione un estado</option>
                        <option value="ESPERA">En espera...</option>
                        <option value="PENDIENTE">Cercano a uso...</option>
                        <option value="USO">En uso...</option>
                        <option value="FINALIZADO">Terminado.</option>
                    </select>
                `,
                confirmButtonText: 'Crear',
                focusConfirm: false,
                preConfirm: () => {
                    let dueño = document.getElementById("dueño").value
                    let patente = document.getElementById("patente").value
                    let estado = document.getElementById("estado").value
                    if (!dueño || !patente || !estado) {
                        return Swal.showValidationMessage(`No data, no party.`);
                    }
                    return [
                        dueño,
                        patente,
                        estado
                    ];
                }
            }
        ).then((result) => {
            if(result.isConfirmed){
                console.log(result);
                let formData = new FormData();
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                formData.append('dueño', result.value[0]);
                formData.append('patente', result.value[1]);
                formData.append('estado', result.value[2]);
                console.log(formData);
                fetch(
                    "{% url 'administrador:horas' %}",
                    {
                        method: "POST",
                        body: formData
                    }
                )
                .then((respuesta => respuesta.json()))
                .then((respuesta) => {
                    console.log(respuesta);
                    if (respuesta.estado == "OK") {
                        location.reload();
                    }
                });
                }
        });
    }
</script>
<script>
    function horaModificar(patente) {
        Swal.fire(
            {
                title: 'Modificar estado',
                input: 'select',
                inputOptions: {
                    Estados: {
                        'ESPERA': 'En espera...',
                        'PENDIENTE': 'Cercano a uso...',
                        'USO': 'En uso...',
                        'FINALIZADO': 'Terminado.'
                    }
                },
                inputPlaceholder: 'Seleccione un estado',
                showCancelButton: true
            }
        ).then((result) => {
            if(result.isConfirmed){
                window.location.href = '?hora=' + patente + '&estado=' + result.value;
            }
        });
    }
    function horaEliminar(patente) {
        Swal.fire(
            {
                title: 'Cancelar hora',
                text:'¿Seguro que desea cancelar esta hora?',
                icon: 'question',
                confirmButtonText: 'Si',
                showDenyButton: true
            }
        ).then((result) => {
            if(result.isConfirmed){
                window.location.href = '?cancelar=' + patente;
            }
        });
    }
</script>
<script>
    let table = new DataTable("#horas-tabla", {
        // language: {
        //     url: "//cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json"
        // },
        order: [
            [3, 'desc']
        ]
    });
</script>
{% endif %}
{% endblock %}