{% extends 'administrador/base.html' %}
{% load static %}

{% block cuerpo %}
{% if horas %}
<table id="horas-tabla" class="table table-striped">
    <thead>
        <tr>
            <th>Patente</th>
            <th>Dueño</th>
            <th>Estado</th>
            <th>Creación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for hora in horas %}
        <tr>
            <td>{{ hora.patente }}</td>
            <td>{{ hora.dueño }}</td>
            <td>[{{ hora.estado }}] {{ hora.get_estado_display }}</td>
            <td>{{ hora.creado|date:"H:i" }}</td>
            <td>
                <a
                    onClick="javascript:horaModificar('{{ hora.patente }}');"
                    href="#"
                    class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">Modificar</a>
                <br>
                <a onClick="javascript:horaEliminar('{{ hora.patente }}');"
                    href="#"
                    class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">Cancelar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function horaModificar(patente) {
        Swal.fire(
            {
                title: 'Modificar estado',
                input: 'select',
                inputOptions: {
                    Estados: {
                        'ESPERA': 'En espera...',
                        'PENDIENTE': 'Cercano a uso...',
                        'USO': 'En uso...',
                        'FINALIZADO': 'Terminado.'
                    }
                },
                inputPlaceholder: 'Seleccione un estado',
                showCancelButton: true
            }
        ).then((result) => {
            if(result.isConfirmed){
                window.location.href = '?hora=' + patente + '&estado=' + result.value;
            }
        });
    }
    function horaEliminar(patente) {
        Swal.fire(
            {
                title: 'Cancelar hora',
                text:'¿Seguro que desea cancelar esta hora?',
                icon: 'question',
                confirmButtonText: 'Si',
                showDenyButton: true
            }
        ).then((result) => {
            if(result.isConfirmed){
                window.location.href = '?cancelar=' + patente;
            }
        });
    }
</script>
<script>
    let table = new DataTable("#horas-tabla", {
        // language: {
        //     url: "//cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json"
        // },
        order: [
            [3, 'desc']
        ]
    });
</script>
{% endif %}
{% endblock %}