{% extends 'administrador/base.html' %}
{% load static %}

{% block cuerpo %}
{% if vehiculos %}
<table id="vehiculos-tabla" class="table table-striped">
    <thead>
        <tr>
            <th>Patente</th>
            <th>Dueño</th>
            <th>Estado</th>
            <th>Encargado</th>
            <th>Modificación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for vehiculo in vehiculos %}
        <tr>
            <td>{{ vehiculo.patente }}</td>
            <td>{{ vehiculo.dueño }}</td>
            <td>[{{ vehiculo.estado }}] {{ vehiculo.get_estado_display }}</td>
            <td>{{ vehiculo.encargado}}</td>
            <td>{{ vehiculo.salida|date:"H:i" }}</td>
            <td>
                <a
                    onClick="javascript:vehiculoModificar('{{ vehiculo.patente }}');"
                    href="#"
                    class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">Modificar</a>
                <br>
                <a onClick="javascript:vehiculoEliminar('{{ vehiculo.patente }}');"
                    href="#"
                    class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">Cancelar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function vehiculoModificar(patente) {
        Swal.fire(
            {
                title: 'Modificar estado',
                input: 'select',
                inputOptions: {
                    Estados: {
                        'ESPERA': 'En espera...',
                        'PREPARACION': 'En preparación...',
                        'LAVADO': 'En lavado...',
                        'SECADO': 'En secado...',
                        'LISTO': 'Listo para retiro',
                        'FINALIZADO': 'Proceso terminado'
                    }
                },
                inputPlaceholder: 'Seleccione un estado',
                showCancelButton: true
            }
        ).then((result) => {
            if(result.isConfirmed){
                window.location.href = '?vehiculo=' + patente + '&estado=' + result.value;
            }
        });
    }
    function vehiculoEliminar(patente) {
        Swal.fire(
            {
                title: 'Eliminar vehiculo',
                text:'¿Seguro que desea eliminar este vehiculo?',
                icon: 'question',
                confirmButtonText: 'Si',
                showDenyButton: true
            }
        ).then((result) => {
            if(result.isConfirmed){
                window.location.href = '?eliminar=' + patente;
            }
        });
    }
</script>
<script>
    let table = new DataTable("#vehiculos-tabla", {
        // language: {
        //     url: "//cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json"
        // },
        order: [
            [4, 'desc']
        ]
    });
</script>
{% endif %}
{% endblock %}