{% extends 'administrador/base.html' %}
{% load static %}

{% block cuerpo %}
<div class="d-grid gap-2 col-3 mx-auto">
    <button onClick="javascript:vehiculoCrear();" class="btn btn-primary" type="button">Crear nuevo</button>
</div>
{% if vehiculos %}
<table id="vehiculos-tabla" class="table table-striped">
    <thead>
        <tr>
            <th>Patente</th>
            <th>Dueño</th>
            <th>Estado</th>
            <th>Encargado</th>
            <th>Modificación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for vehiculo in vehiculos %}
        <tr>
            <td>{{ vehiculo.patente }}</td>
            <td>{{ vehiculo.dueño }}</td>
            <td>[{{ vehiculo.estado }}] {{ vehiculo.get_estado_display }}</td>
            <td>{{ vehiculo.encargado}}</td>
            <td>{{ vehiculo.salida|date:"H:i" }}</td>
            <td>
                <a
                    onClick="javascript:vehiculoModificar('{{ vehiculo.patente }}');"
                    href="#"
                    class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">Modificar</a>
                <br>
                <a onClick="javascript:vehiculoEliminar('{{ vehiculo.patente }}');"
                    href="#"
                    class="link-offset-2 link-underline link-underline-opacity-25 link-underline-opacity-75-hover">Cancelar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function vehiculoCrear() {
        Swal.fire(
            {
                title: "Nuevo vehiculo",
                html: `
                    <input id="uid" class="swal2-input" placeholder="UID">
                    <input id="dueño" class="swal2-input" placeholder="Dueño">
                    <input id="patente" class="swal2-input" placeholder="Patente">
                    <select id="estado" class="swal2-select" placeholder="Estado">
                        <option value="" disabled="">Seleccione un estado</option>
                        <option value="ESPERA">En espera...</option>
                        <option value="PREPARACION">En preparación...</option>
                        <option value="LAVADO">En lavado...</option>
                        <option value="SECADO">En secado...</option>
                        <option value="LISTO">Listo para retiro</option>
                        <option value="FINALIZADO">Proceso terminado</option>
                    </select>
                    <select id="encargado" class="swal2-select" placeholder="Encargado">
                        <option value="" selected disabled="">Seleccione una encargado</option>
                        {% for encargado in encargados %}
                        <option value="{{ encargado.id }}">{{ encargado }}</option>
                        {% endfor %}
                    </select>
                    <select id="hora" class="swal2-select" placeholder="Hora">
                        <option value="" selected disabled="">Seleccione una hora</option>
                        {% for hora in horas %}
                        <option value="{{ hora.id }}">{{ hora }}</option>
                        {% endfor %}
                    </select>
                `,
                confirmButtonText: 'Crear',
                focusConfirm: false,
                preConfirm: () => {
                    let uid = document.getElementById("uid").value
                    let dueño = document.getElementById("dueño").value
                    let patente = document.getElementById("patente").value
                    let estado = document.getElementById("estado").value
                    let encargado = document.getElementById("encargado").value
                    let hora = document.getElementById("hora").value
                    if (!uid || !estado || !encargado) {
                        return Swal.showValidationMessage(`UID, Estado o Encargado faltante/s.`);
                    }
                    if (!hora) {
                        if (!dueño || !patente) {
                            return Swal.showValidationMessage(`Si no hay una hora asignada, debe rellenar los campos Dueño y Patente.`);
                        }
                    }
                    return [
                        parseInt(uid),
                        dueño,
                        patente,
                        estado,
                        encargado,
                        hora
                    ];
                }
            }
        ).then((result) => {
            if (result.isConfirmed) {
                console.log(result);
                let formData = new FormData();
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                formData.append('uid', result.value[0]);
                formData.append('dueño', result.value[1]);
                formData.append('patente', result.value[2]);
                formData.append('estado', result.value[3]);
                formData.append('encargado', result.value[4]);
                formData.append('hora', result.value[5]);
                console.log(formData);
                fetch(
                    "{% url 'administrador:vehiculos' %}",
                    {
                        method: "POST",
                        body: formData
                    }
                )
                .then((respuesta => respuesta.json()))
                .then((respuesta) => {
                    console.log(respuesta);
                    if (respuesta.estado == "OK") {
                        location.reload();
                    } else if (respuesta.estado == "EXISTS") {
                        Swal.fire({
                            title: "Ya existe!",
                            text: "El vehiculo ya existe.",
                            icon: "info"
                        });
                    }
                });
            }
        });
    }
</script>
<script>
    function vehiculoModificar(patente) {
        Swal.fire(
            {
                title: 'Modificar estado',
                input: 'select',
                inputOptions: {
                    Estados: {
                        'ESPERA': 'En espera...',
                        'PREPARACION': 'En preparación...',
                        'LAVADO': 'En lavado...',
                        'SECADO': 'En secado...',
                        'LISTO': 'Listo para retiro',
                        'FINALIZADO': 'Proceso terminado'
                    }
                },
                inputPlaceholder: 'Seleccione un estado',
                showCancelButton: true
            }
        ).then((result) => {
            if(result.isConfirmed){
                window.location.href = '?vehiculo=' + patente + '&estado=' + result.value;
            }
        });
    }
    function vehiculoEliminar(patente) {
        Swal.fire(
            {
                title: 'Eliminar vehiculo',
                text:'¿Seguro que desea eliminar este vehiculo?',
                icon: 'question',
                confirmButtonText: 'Si',
                showDenyButton: true
            }
        ).then((result) => {
            if(result.isConfirmed){
                window.location.href = '?eliminar=' + patente;
            }
        });
    }
</script>
<script>
    let table = new DataTable("#vehiculos-tabla", {
        // language: {
        //     url: "//cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json"
        // },
        order: [
            [4, 'asc']
        ]
    });
</script>
{% endif %}
{% endblock %}